// example
@font-face {
  font-family: "MerriweatherItalic";
  src : url("../fonts/MerriweatherItalic/MerriweatherItalic.eot");
  src : url("../fonts/MerriweatherItalic/MerriweatherItalic.ttf");
  src : url("../fonts/MerriweatherItalic/MerriweatherItalic.woff");
}